@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.n-drawer-container {
  --n-border-radius: 32px !important;
}

.n-drawer-content .n-drawer-body-content-wrapper {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1999;
  padding-bottom: env(safe-area-inset-bottom);
  --n-tab-border-radius: 15px !important;
  --n-tab-color-segment: #155a5a !important;
  --n-tab-text-color-active: rgb(255, 255, 255) !important;
  --n-tab-text-color-hover: rgb(255, 255, 255) !important;
  --n-tab-text-color: rgb(31, 34, 37) !important;
}

/* Стили для PageLayout - больше не используются, т.к. убрали n-scrollbar */

.n-input {
  --n-border-radius: 15px !important;
  --n-height: 48px !important;
}

.n-base-selection  {
  --n-border-radius: 15px !important;
  --n-height: 48px !important;
}